@import url(https://fonts.google.com/specimen/Poppins);

*{
  padding: 0;
  margin: 0;
  font-size: 16px;  
}

body{
  background-color: hsl(0, 100%, 74%);
  width: 100%;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 345px) {
  
}

.container{
  background: url(bg-intro-desktop.png);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 345px) {
  .container{
    background: url(bg-intro-mobile.png);
    display: block;
    text-align: center;
    margin: auto;
    width: 100vw;
    min-height: 500px;
    padding-top: 50px;
  }
}

.box{
  width: 40%;
}@media screen and (max-width: 345px) {
  .box{
    width: 100%;
    margin: auto;
  }
}

h1{
  color: white;
  font-size: 35px;
  line-height: 90%;
}
@media screen and (max-width: 375px) {
  h1{
    font-size: 25px;
  }
}
p{
  color: white;
}
@media screen and (max-width: 375px) {
  p{
    font-size: 10px;
    width: 59%;
    margin: auto;
  }
}


.free7{
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.2rem;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 345px) {
  .free7{
    margin: auto;
    padding: 20px;
    width: 60%;
  }
}


form{
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 345px) {
  form{
    margin: auto;
    width: 67%;
    height: 279px;
    padding-top: 15px;
  }
}


input{
  width: 100%;
  height: 26px;
  border-radius: 0.2em;
  border: 1px solid hsl(249, 10%, 26%);
}

button{
  color: #ffffff;
  height: 50px;
  padding: 15px;
  width: 100%;
  border-radius: 0.2em;
  border: none;
  background: hsl(154, 59%, 51%);
  cursor: pointer;
  box-shadow: 0px 1px 1px 1px hsl(120, 100%, 29%);
  font-weight: 600;
  font-size: 16;
}
@media screen and (max-width: 375px) {
  button{
    height: 29px;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
  }
}

.terms{
  text-align: center;
  padding: 5px;
  color: hsl(246, 25%, 77%);
}
@media screen and (max-width: 375px) {
  .terms{
  }
}

a{
  color: hsl(0, 100%, 74%);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
::placeholder{
  padding: 10px;
  color: black;
  opacity: 0.3;
  font-weight: 700;
}