.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1.2fr 0.9fr 0.9fr;
    grid-template-areas: 
    "logo logo main"
    "article content1 content1"
    "article content2 content2"
    ;
    grid-gap: 5px;
}
#logo{
    background-color: aqua;
    grid-area: logo;
}
#main{
    background-color: blue;
    grid-area: main;
}
#article{
    background-color: brown;
    grid-area: article;
}
#content1{
    background-color: black;
    grid-area: content1;
}
#content2{
    background-color: chartreuse;
    grid-area: content2;
}
