.container{
    display: grid;
    height: 100vw;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 5px;
}
#logo{
    background-color: aqua;
grid-column: 1/7;
grid-row: 1/6;
}
#main{
    background-color: blue;
grid-column: 7/11;
grid-row: 1/6;
}
#article{
    background-color: brown;
grid-column: 1/6;
grid-row: 6/12;
}
#content1{
    background-color: black;
grid-column: 6/11;
grid-row: 6/8;
}
#content2{
    background-color: pink;
grid-column: 6/11;
grid-row: 8/12;
}
