@import url(https://fonts.google.com/specimen/Lexend+Deca);
@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);

*{
    padding: 0;
    margin: 0;   
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.box{
    width: 200px;
    padding: 15px;
    min-height: 430px;
    margin-left: 2px;
}
.box1{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box2{
    background-color: hsl(184, 100%, 22%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box3{

    background-color:hsl(179, 100%, 13%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.content{
    padding: 10px;
}
h1{
    color: white;
    text-transform: uppercase;
    font-family: "Lexend Deca", sans-serif;
    margin: 20px 0;
}
p{
    color: white;
    font-family: "Big Shoulders Display" sans-serif;   
}
.btn{
    margin: 60px 0;
    padding: 15px 40px;
    border: 0;
    border-radius: 30px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
}
.btn1{
    color: hsl(31, 77%, 52%);
}
.btn2{
    color: hsl(184, 100%, 22%);
}
.btn3{
    color: hsl(179, 100%, 13%);
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.4s;
}